@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

h {
  font-size: 120px;
  color: white;
  font-family: inter;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: white;
  font-family: inter;
  align-content: center;
}

.gradient_background {
  background: linear-gradient(90deg, #12261E, #1A4D39);
  height: 100vh;
  width: 100%;
  margin: 0;
}

.moebius-image-container{
  z-index: 9;
  padding-left: 5%;
}

.descriptive-text{
  position: absolute;
  padding-left: 50%;
  padding-top: 10%;
  align-content: center;
  align-items: center;
}

.copyright-text{
  align-content: left;
  text-align: left;
}

.MuiButton-contained {
  border-radius: 40px !important;
}

.section-left {
  align-content: left;
  text-align: center;
  color: white;
  font-family: inter;
}

.number-of-scans {
  font-size: 900%;
}

.section-right {
  align-content: right;
  text-align: center;
  color: white;
  font-family: inter;
}

.table-container{
  padding-left: 10%;
}

.placeholder-image-container{
  border-radius: 8%;
  border: 1% solid #ddd;
  padding: 5%;
  max-width: 100px;
  height: auto;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.center-lower {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}