@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

h {
  font-size: 120px;
  color: white;
  font-family: inter;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  color: white;
  font-family: inter;
  padding-left: 75px;
}

h2 {
  font-size: 50px;
  color: white;
  font-family: inter;
  text-align: left;
  padding-left: 30%;
  font-weight: normal;
}

p {
  font-size: 20px;
  color: white;
  font-family: inter;
  align-content: center;
}

hr {
  display: block;
  height: 10px;
  border: none;
  border-top: 5px solid white;
  max-width: 25%;
  margin-left: 30%;
}

.gradient_background {
  background: linear-gradient(90deg, #12261e, #1a4d39);
  height: 100vh;
  width: 100%;
  margin: 0;
}
.gradient_background {
  background: linear-gradient(90deg, #12261e, #1a4d39);
  height: 100vh;
  width: 100%;
  margin: 0;
}

.moebius-image-container {
  z-index: 9;
  padding-left: 5%;
}

.descriptive-text {
  position: absolute;
  padding-left: 50%;
  padding-top: 10%;
  align-content: center;
  align-items: center;
}

.pic-background {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 10%;
  padding-top: 3%;
}

.pic-headings {
  font-size: 45px;
  color: black;
  font-family: inter;
  font-weight: bold;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-right: 20%;
}

.pic-middle-divider{
  display: block;
  height: 100%;
  border: none;
  border-left: 5px solid black;
  margin-top: 5%;
  margin-left: 50%;
  padding: 0;
}

.pic-image-container{
  border-radius: 8%;
  border: 1% solid #ddd;
  padding: 15%;
  max-width: 80px;
  height: 80px;
}

.plastic-image-container-left{
  border-radius: 8%;
  border: 1% solid #ddd;
  max-width: auto;
  height: 150px;
  padding-top: 5%;
  padding-left: 33%;
}

.juice-image-container-left{
  border-radius: 8%;
  border: 1% solid #ddd;
  max-width: auto;
  height: 150px;
  padding-top: 5%;
  padding-left: 45%;
}

.plastic-image-container-right{
  border-radius: 8%;
  border: 1% solid #ddd;
  max-width: auto;
  height: 150px;
  padding-top: 5%;
  padding-left: 10%;
}

.result-bin-image-container-right{
  padding-top: 5%;
  padding-left: 75%;
  z-index: 2;
}

.result-bin-image-right{
  border-radius: 8%;
  border: 1% solid #ddd;
  max-width: auto;
  height: 350px;
  z-index: 2;
  position: relative;
}

.drop-shadow{
  background-color: #12221C;
  height: 108px;
  width: 370px;
  border-radius: 50%;
  position: inherit;
  opacity: 75%;
  z-index: -1;
}

.bin-image-container-right{
  border-radius: 8%;
  border: 1% solid #ddd;
  max-width: auto;
  height: 250px;
  padding-top: 5%;
  padding-left: 5%;
}

.pic-text-result-left-only {
  font-size: 20px;
  color: black;
  font-family: inter;
  text-align: center;
  padding-top: 15%;
  padding-left: 30%;
}

.text-result-left-regular {
  font-size: 20px;
  color: white;
  font-family: inter;
  text-align: left;
  padding-left: 30%;
}

.text-result-left-larger {
  font-size: 40px;
  color: white;
  font-family: inter;
  text-align: left;
  padding-left: 30%;
}

.pic-text-result-left {
  font-size: 15px;
  color: black;
  font-family: inter;
  text-align: center;
  padding-top: 5%;
  padding-left: 30%;
}

.pic-text-result-right {
  font-size: 15px;
  color: black;
  font-family: inter;
  text-align: center;
  padding-top: 5%;
  padding-right: 30%;
}

.pic-text-yellow {
  color: #CDA506;
}

.pic-text-red {
  color: #FF3131;
}

.pic-text-green {
  color: #00BF63;
}

.pic-scan-button-container{
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 3%;
}

.scan-button-container{
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 3%;
}

.descriptive-text{
  position: absolute;
  padding-left: 50%;
  padding-top: 10%;
  align-content: center;
  align-items: center;
}

.descriptive-text{
  position: absolute;
  padding-left: 50%;
  padding-top: 10%;
  align-content: center;
  align-items: center;
}

.copyright-text {
  align-content: left;
  text-align: left;
}

.MuiButton-contained {
  border-radius: 40px !important;
}

.section-left {
  align-content: left;
  text-align: center;
  color: white;
  font-family: inter;
}

.number-of-scans {
  font-size: 900%;
}

.section-right {
  align-content: right;
  text-align: center;
  color: white;
  font-family: inter;
}

.table-container {
  padding-left: 10%;
}

.flexGrowth {
  flex-grow: 1;
}

.placeholder-image-container {
  border-radius: 8%;
  border: 1% solid #ddd;
  padding: 5%;
  max-width: 100px;
  height: auto;
}

.section-left {
  align-content: left;
  text-align: center;
  color: white;
  font-family: inter;
}

.number-of-scans {
  font-size: 900%;
}

.section-right {
  align-content: right;
  text-align: center;
  color: white;
  font-family: inter;
}

.table-container {
  padding-left: 10%;
}

.flexGrowth {
  flex-grow: 1;
}

.placeholder-image-container {
  border-radius: 8%;
  border: 1% solid #ddd;
  padding: 5%;
  max-width: 100px;
  height: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.center-lower {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.left-align-text {
  padding-left: 75px;
}

.center-lower-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 15px;
  color: white;
  font-family: inter;
  text-align: center;
}

.center-lower-CTA {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 15px;
  color: white;
  font-family: inter;
  text-align: center;
}
